@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf"), url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf"), url("../fonts/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Cormorant";
    font-weight: 500;
    src: url("../fonts/CormorantGaramond-Medium.ttf"), url("../fonts/CormorantGaramond-Medium.ttf");
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #FCF8F5;
    margin: 0;
    padding: 0;

    /* background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 7376px;
    opacity: 0.5;  */

    /* background-image: url('../Каталог.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 2981px;
    opacity: 0.5; 
 */
    /* background-image: url('../Pop-up.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 2123px;
    opacity: 0.5;  */

}

.ul-article {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.ul{
    position: relative;
    margin-bottom: 198px;
}


label,
button {
    cursor: pointer;
}


.label {
    position: relative;
    padding-bottom: 16px;
    color: #373737;
}
.label:hover,
.label:hover::before{
    color: #B5885D;
}
.input[type="checkbox"]:checked+label{
    color: #B5885D;
}


.label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #B5AEA4;
    left: -31px;
    color: #373737;
}
/* .label:checked::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;
} */


.label-date {
    position: relative;
    color: var(--grey, #B5AEA4);
    

/* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    top:50px;
}

.label-person {
    position: relative;
    color: var(--grey, #B5AEA4);

/* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    top:50px;
}

.label-person::before{
    content: '';
    position: absolute;
    width: 220px;
    height: 1px;
    flex-shrink: 0;
    border: 1px solid #B5AEA4;
    left: -31;
    top: 20px; 
    margin-right: 10px;
}

.label-person::after{
    content: url('../img/person.png');
    position: absolute;
    left: 95px;
    bottom: 15px;
}

.label-date::before {
    content: '';
    position: absolute;
    width: 473px;
    height: 1px;
    flex-shrink: 0;
    border: 1px solid #B5AEA4;
    left: -31;
    top: 20px; 
}

.label-date::after{
        content: url('../img/calend.png');
        position: absolute;
        left: 350px;
        bottom: 15px;
}
#pool:checked + .label {
    color: #B5885D;
}

#pool:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;

}

#parking:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;
}
#parking:checked + .label {
    color: #B5885D;
}
#Wi-fi:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;
}
#Wi-fi:checked + .label{
    color: #B5885D;
}

#hotel:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;
}
#hotel:checked + .label {
    color: #B5885D;
}

#motel:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;
}
#motel:checked + .label {
    color: #B5885D;
}
#apartment:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #B5885D;
    left: -31px;
    color: #B5885D;
}
#apartment:checked + .label{
    color: #B5885D;
}


.date{
    display: flex;
    padding-bottom: 50px;

}






h1,h2,h3{
    font-family: "Cormorant", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  


.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
    max-width: 1600px;
    margin: 0 auto;

}
.nav-list{
    display: flex;
    gap: 35px;
    list-style: none;
    padding-left: 0px;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    
    color: var(--white, #FFF);
    text-align: center;
    /* text/links */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-link:hover{
    color: #B5AEA4;
}
.nav-link:active{
    color:#373737
}
.hero-section{
    background-color: rgba(71, 52, 35, 0.5);
    background-image: linear-gradient(0deg, rgba(71, 52, 35, 0.5),
                     rgba(71, 52, 35, 0.5)), url('../img/maine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -111px;
    display:flex;
    align-items: end;
    padding-top: 696px;
    padding-bottom: 80px;
}

.hero-section-apartment{
    background-color: rgba(71, 52, 35, 0.5);
    background-image: linear-gradient(0deg, rgba(71, 52, 35, 0.5),
                     rgba(71, 52, 35, 0.5)), url('../img/maine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    display:flex;
    align-items: flex-end;
    padding-top: 330px;
    padding-bottom: 100px;
}

.maine-title{
    color:#fff;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;
    width: 1398px;
    margin: 0 auto;
    /* padding-left: 100px; */
    /* padding-right: 102px; */
}
.article-list{
    max-width: 1600px;
    margin: 0 auto;
}
.link-img{
    background:  url('../img/bird.svg');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.hidden{
    display: none;
}
.link-img:hover{
    background:  url('../img/Frame-dark.svg');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-img:active{
    background:  url('../img/bird-click.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-f{
    background:  url('../img/f.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-f:hover{
    background:  url('../img/F-hover.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-f:active{
    background:  url('../img/f-active.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-youtube{
    background:  url('../img/y-normal.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-youtube:hover{
    background:  url('../img/y-hover.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.link-youtube:active{
    background:  url('../img/y-click.png');
    display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */
    height: 50px;
    background-repeat: no-repeat;
}
.img-bottom{
    width: 710px;
    height: 558px;
}
.article-section{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 643px;
    max-width: 1400px;
    padding-top: 200px; 
    margin: 0 auto;
    /* padding-left: 100px; */
}
.description{
    display:flex;
    flex-direction: column;
    /* height: 643px; */
    width: 471px;
    position: relative;
}
.why_visit {
    color:#B5AEA4;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 81px;
    padding-left: 86px;    
    padding-top: 5px;
    font-size: 16px;
}
.why_visit.current::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#B5AEA4;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    right:395px;
    top:12px;
    
}
.article-title{
    color:#373737;
    margin: 0;
    margin-bottom: 341px;
}
.bottom-text{
    margin: 0;
    padding-right: 130px;
}

.featuires-list {
    max-width: 1600px;
    margin: 0 auto;
}

.bottom-form {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 200px;
}

.recommendation{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.button-arrows{
    display: flex; 
    margin-left:-160px; 
    gap: 20px;
}


.article-section-2{
    display:flex;
    justify-content: space-between;
    height: 643px;
    padding-top: 200px;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 1px;
}
.description-2{
    display:flex;
    flex-direction: column;
    height: 643px;
    width:580px;
    position: relative;
}

.article-section-3{
    display:flex;
    justify-content: space-between;
    height: 586px;
    padding-top: 200px;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 1px;
}
.description-3{
    display:flex;
    flex-direction: column;
    height: 580px;
   
   
}
.why_visit-2{
    color:#B5AEA4;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0px;
    padding-left: 90px;
    margin-top: 5px;
    position: relative;
    

}
.why_visit-2.current::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#B5AEA4;
    left:1px;
    top:11px;
}
.article-title-2{
    
    padding-right: 180px;
    padding-top: 67px;
    margin-bottom: auto;
    color:#373737;
    text-align: left;
    font-family: Cormorant;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bottom-text-2{
    text-align: left;
    width: 350px;
    margin-bottom: 0px;
    margin-top:13px;
}
.footer{
    background-color: #B5885D;
    height: 290px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}
.footer-link{
    display:flex;
    justify-content: space-between;
    padding-bottom: 68px;
    padding-right: 60px;
    list-style: none;
    gap: 15px;
    margin-top: 0px;

    
    
}
.table-name{
    display:flex;
    padding-top: 60px;
}
.indicate-expected-dates{
    margin-left: 240px;
    margin-right: auto;
    width: 353px;
    margin-top: 6px;
}
.form-and-map{
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    padding-bottom: 199px;
    
}
.map{
    width: 810px;
    height: 450px;
    margin-top: 68px;
    
}
.form-down{
    padding-left: 30px;
    margin-right: 320px;
    margin-right: 0;
    padding-top:120px;
    margin-left: 30px;
    padding-right: 168px;
    width:550px;
}
.form-down-label {
    width: 200px;
}

.adults-kids{
    width: 255px;
}



.form-down-input::placeholder {
    color: #B5AEA4;
}
.form-down-input:hover::placeholder{
    color:#473423;
}
.form-down-input:active::placeholder{
    color:#B5885D;
}
.form-down-input:invalid::placeholder{
    color:#D62B2B;
}

.form-down-input-.form-down-input-people {
    color: #B5AEA4;
}
.form-down-input-people:hover::placeholder{
    color:#473423;
}
.form-down-input-people:active::placeholder{
    color:#B5885D;
}
.form-down-input-people:invalid::placeholder{
    color:#D62B2B;
}






.form-down-input[name="checkout"], 
.form-down-input[name="checkin"] {
    background-image: url('../img/date.svg');
    background-repeat: no-repeat;
    background-position: center right;
}

.form-down-input[name="checkout"]:hover, 
.form-down-input[name="checkin"]:hover {
    background-image: url('../img/date-hover.svg');
    background-repeat: no-repeat;
    background-position: center right;
}
.form-down-input[name="checkout"]:active, 
.form-down-input[name="checkin"]:active {
    background-image: url('../img/date-active.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.form-down-input::-webkit-outer-spin-button,
.form-down-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-down-input[type="number"] {
  -moz-appearance: textfield;
}
.form-down-input-people[name="adults"], 
.form-down-input-people[name="kids"] {
    background-image: url('../img/person.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.form-down-input-people[name="adults"]:hover, 
.form-down-input-people[name="kids"]:hover {
    background-image: url('../img/person-hover.svg');
    background-repeat: no-repeat;
    background-position: top right;
}


.form-down-input-people[name="adults"]:active, 
.form-down-input-people[name="kids"]:active {
    background-image: url('../img/person-active.svg');
    background-repeat: no-repeat;
    background-position: top right;
}


.form-top{
    padding-left: 60px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
.form-down-input-people {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B5AEA4;
    padding-top: 3px;
    padding-bottom: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #B5AEA4;
    appearance: none;
    list-style: none;
    margin-bottom: 27px;
    
    padding-bottom: 20px;
}

.form-down-input-people:active {
    border-bottom: 1px solid #B5885D;
}
.form-down-input-people:hover {
    border-bottom: 1px solid #473423;
}
.form-down-input {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B5AEA4;
    padding-top: 17px;
    padding-bottom: 18px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #B5AEA4;
    appearance: none;
    list-style: none;
    margin-bottom: 27px;
}
.form-down-input:hover {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #473423;
    /* padding-top: 17px;
    padding-bottom: 18px; */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #473423;
    appearance: none;
    list-style: none;
    margin-bottom: 27px;
}
.form-down-input:active {
    border-bottom: 1px solid #B5885D;
}
.form-down-input.modal-input {
    width: 540px;
    resize: none;
}

.div-button{
    padding-bottom: 12px;
}

.flex-container {
    display: flex;
    margin-bottom: 51px;
    width: 550px;
    gap: 10px;
}
.book-in-button  {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #B5885D;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 185px;
    position: relative;
}
.book-in-button.modal-button{
    padding-top: 50px;
}


.book-in-button:hover,
.result-clear:hover,
.more-details:hover{
    color:#473423 ;
} 
.book-in-button:active,
.result-clear:active,
.more-details:active{
    color: #B5AEA4 ;
}  

.book-in-button::after {
    position: absolute;
    content: '';
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #B5885D;
    right: -65px;
    top: -12px;
}
.book-in-button.modal-button::after{
    top: 35px;
}
.book-in-button.modal-button:hover::after{
    top: 35px;
}
.book-in-button.modal-button:active::after{
    top: 35px;
}
.book-in-button:hover::after{
    position: absolute;
    content: '';
    background-image: url('../img/dark-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #473423;
    right: -65px;
    top: -12px;
}
.book-in-button:active::after{
    position: absolute;
    content: '';
    background-image: url('../img/arrow-active.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #B5AEA4;
    right: -65px;
    top: -12px;
}
.circus-button{
    padding: 0;
    margin: 0;
    content: '';
    border: none;
    background-color: transparent;
    color: #B5AEA4;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 55px;
    min-height: 55px;
    position: relative; 
}
.circus-button::after{
    position: absolute;
    content: '';
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #B5885D;
    top: 0;
    left: 0;
}
.circus-button:hover::after{
    background-image: url('../img/dark-arrow.png');
    border: 1px solid #473423;
}
.circus-button:active::after{
    background-image: url('../img/arrow-active.png');
    border: 1px solid #B5AEA4;
}
.circus-button-left{
    width: 55px;
    min-height: 55px;
    padding: 0;
    margin: 0;
    content: '';
    border: none;
    background-color: transparent;
    color: #B5AEA4;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    position: relative; 
}
.circus-button-left::after{
    position: absolute;
    content: '';
    background-image: url('../img/arrow-left.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #B5885D;
    top: 0;
    left: 0;
}
.circus-button-left:hover::after{
    background-image: url('../img/dark-arrow-left.png');
    border: 1px solid #473423;
}
.circus-button-left:active::after{
    background-image: url('../img/arrow-active-left.png');
    border: 1px solid #B5AEA4;
}


.link-autor{
    margin-bottom: 0px;
    /* margin-top: 42px; */
}


.adults-child-form{
    display: flex;
    justify-content: space-between;

}
.footer-link-top{
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}  
.index-link{
    height: 130px;
    text-decoration: none;
}
.social-link{
    height: 100px;
}

.line{
    border: none; /* Убираем границу */
    background: var(--grey, #B5AEA4);
    height: 1px;
    flex-shrink: 0;
    
}  

.html-academy{
    padding-top: 28px;
    padding-right: 63px;
}

.website-by{
    padding-left: 60px;
    padding-bottom: 10px;
    color: var(--white, #FFF);
    padding-top: 22px;
  
}
.decoration-link{
    text-decoration: none;
}
.result-and-hotel-filter{
    display:flex;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.result-and-hotel-filter::after{
    
    position: absolute;
    content: '';
    width: 92%;
    height: 2px;
    background-color: #B5AEA4;
    border: 0;
    padding: 0;
    white-space: nowrap;
    bottom: -15px;
    transform: translate(60px);
    
}

.results{
    padding-left: 50px;
    padding-top: 32;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 80px;
    }
.result-clear{
    background-color: transparent;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    color: #B5AEA4;
    text-transform: uppercase;
    width: 200px;
    position: relative;
    text-decoration-line: underline;
    
    margin-left: 0px;
    padding-right: 0px;
}
.infrastructure{
    padding-top: 51px;
    padding-bottom: 0px;
    padding-right: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.type-of-housing{
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    padding-right: 45px;
}
.price{
    padding-top: 51px;
    padding-right: 60px;
    padding-bottom: 0px;    
}
.input-price{
    display: flex;
    gap: 18px;
}
.input-price-number{
    border: solid 1px;
}
::-moz-range-track {
    border: 2px solid red;
    height: 20px;
    background: orange;
}
::-moz-range-thumb {
    background: blue;
    height: 30px;
}
.article{
    display: flex;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    max-width: 1480px;
    position: relative;
    
}
.article::after{
    position:absolute;
    content: '';
    width: 94.5%;
    height: 2px;
    background-color:#B5AEA4;
    border: 0;
    padding: 0;
    white-space: nowrap;
    bottom:-2px
}
.for-down-line{
    position:relative;
}

.hotel-and-point{
    display: block;
    padding-left: 20px;
    width: 100%;
    position: relative;
    
   
    
}
.results-number{
    color: var(--beige, #B5885D);
    /* text/main text */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;

}
.hotel-name{
    display: flex;
    height: 100%;
}

.name-form{
    color: var(--grey, #B5AEA4);
    /* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    left: 20px;
    padding-bottom: 24px;
    margin-left: -32px;
}
.name-form-price{
    color: var(--grey, #B5AEA4);
    /* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    left: 20px;
    padding-bottom: 24px;
    
}
.score{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 230px;
    position: relative;
}
.score::before{
    position: absolute;
    content: '';
    background-image: url('../img/star.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    left:-9px;
    top: -7px;
    
    
    
}



.info-flex {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.type {
    width: 100%;
    margin: 0px;
    align-self: first baseline;
}
.name {
    width: 70%;
    margin: 0;
    font-size: 28px;
   padding-top: 6px;
}


.image{
    width: 689px;
    height: 380px;
}

.article-hotel-price{
   
    padding: 0;
    text-align: right;
    color: var(--beige, #B5885D);
    text-align: center;
    /* Headlines/H3 */
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 95px;
    margin-top: 22px;
} 
/*не работает топ?*/
.more-details{
    color: var(--grey, #B5AEA4);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;

}
.detalis-button{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visitsedona{
    display: flex;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Cormorant", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}
.bottom-links{
    display: flex;
    justify-content: space-between;
    
}
.bottom-links::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color:#B5AEA4;
    top:183px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    left:-1px;
    right:10px;
}
.image{
    width: 689px;
    
    height: 380px;
}


.slider-control {
    position: relative;
    display: flex;
    gap: 13px;
    padding-top: 20px;
    align-items: center;
    align-self: flex-start;
}

.slider-dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #B5AEA4;
}

.slider-dot.slider-dot-current {
    align-self: flex-end;
    background-color: #B5885D;
    border-color: #B5885D;
    width: 33px;
    height: 5px;
    border-radius: 5px;
}

.range-control{
    position: relative;
    display: flex;
    padding-top: 41px;
    align-items: center;
    align-self: flex-start;
}
.range-dot {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #B5885D;
    background-color: #B5885D;
}
.range-before-track{
    display: block;
    width: 90px;
    height: 2px;
    background-color: #B5885D;
}
.range-after-track{
    display: block;
    width: 120px;
    height: 2px;
    background-color: #B5AEA4;
}
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

input.input-price-number[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    width: 115px;
    height: 40px;
    border-color: #B5AEA4;
}

 
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
} */

.modal-backdrop{
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* цвет фона */
    z-index: 1;
    pointer-events: none;
    
  
  }
  .modal-backdrop.shown{
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}
.modal{
    max-width: 629px;
    width: 100%;
    height: 632px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: #FCF8F5;
    position: relative;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.10);
    padding-left: 70px;

}
.close-modal{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: #FCF8F5;
    
}
.exit-text{
    position: absolute;
    color: #B5885D;
    transform: rotate(135deg);
    font-size: 55px;
    bottom: 3px;
    top:6px;
    left: 40px;
    right: 1px;
}
.modal-lable{
    position: relative;
    color:#373737;
    /* Headlines/H4 */
    font-family: Cormorant;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 48px */
    text-transform: uppercase;
    top:100px;

}
.modal-text{
    color:  #373737;
    /* text/text 4 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 90px;
}