@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf"), url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf"), url("../fonts/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Cormorant";
    font-weight: 500;
    src: url("../fonts/CormorantGaramond-Medium.ttf"), url("../fonts/CormorantGaramond-Medium.ttf");
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #FCF8F5;
    margin: 0;
    padding: 0;
}

.ul-article {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

label,
button {
    cursor: pointer;
}


.label {
    position: relative;
    padding-bottom: 16px;
}

.label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #B5AEA4;
    left: -31px;
}

.label-date {
    position: relative;
    color: var(--grey, #B5AEA4);
    

/* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    top:50px;
}

.label-person {
    position: relative;
    color: var(--grey, #B5AEA4);

/* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    top:50px;
}

.label-person::before{
    content: '';
    position: absolute;
    width: 220px;
    height: 1px;
    flex-shrink: 0;
    border: 1px solid #B5AEA4;
    left: -31;
    top: 20px; 
    margin-right: 10px;
}

.label-person::after{
    content: url('../img/person.png');
    position: absolute;
    left: 95px;
    bottom: 15px;
}

.label-date::before {
    content: '';
    position: absolute;
    width: 473px;
    height: 1px;
    flex-shrink: 0;
    border: 1px solid #B5AEA4;
    left: -31;
    top: 20px; 
}

.label-date::after{
        content: url('../img/calend.png');
        position: absolute;
        left: 350px;
        bottom: 15px;
}


#pool:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#parking:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}
#Wi-fi:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#hotel:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#motel:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}
#apartment:checked + .label::before {
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}



.date{
    display: flex;
    padding-bottom: 50px;

}






h1,h2,h3{
    font-family: "Cormorant", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  


.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.nav-list{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
.hero-section{
    background-color: rgba(71, 52, 35, 0.5);
    background-image: linear-gradient(0deg, rgba(71, 52, 35, 0.5),
                     rgba(71, 52, 35, 0.5)), url('../img/maine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    display:flex;
    align-items: end;
    padding-top: 694px;
    padding-bottom: 80px;
}

.hero-section-apartment{
    background-color: rgba(71, 52, 35, 0.5);
    background-image: linear-gradient(0deg, rgba(71, 52, 35, 0.5),
                     rgba(71, 52, 35, 0.5)), url('../img/maine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    display:flex;
    align-items: flex-end;
    padding-top: 318px;
    padding-bottom: 80px;
}

.maine-title{
    color:#fff;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;
    width: 1398px;
    margin: 0 auto;
    /* padding-left: 100px; */
    /* padding-right: 102px; */
}
.article-list{
    max-width: 1600px;
    margin: 0 auto;
}
.article-section{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 643px;
    max-width: 1400px;
    padding-top: 200px; 
    margin: 0 auto;
    /* padding-left: 100px; */
}
.description{
    display:flex;
    flex-direction: column;
    /* height: 643px; */
    width: 471px;
}
.why_visit {
    color:#B5AEA4;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 81px;    
}
.why_visit.current::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#B5AEA4;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    
}
.article-title{
    color:#373737;
    margin: 0;
    margin-bottom: auto;
}
.bottom-text{
    margin: 0;
}

.featuires-list {
    max-width: 1600px;
    margin: 0 auto;
}

.bottom-form {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 200px;
}

.recommendation{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.button-arrows{
    display: flex;
    margin-left:-300px;
}


.article-section-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 643px;
    padding-top: 200px;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;
}
.description-2{
    display:flex;
    flex-direction: column;
    height: 643px;
    
}
.why_visit-2{
    color:#B5AEA4;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    

}
.why_visit-2.current::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#B5AEA4;
}
.article-title-2{
    
    padding-right: 180px;
    padding-top: 80px;
    margin-bottom: auto;
    color:#373737;
    text-align: left;
    font-family: Cormorant;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bottom-text-2{
    text-align: left;
    width: 300px;
}
.footer{
    background-color: #B5885D;
    height: 290px;
}
.footer-link{
    display:flex;
    justify-content: space-between;
    padding-bottom: 68px;
    padding-right: 100px;
    list-style: none;
    
    
}
.table-name{
    display:flex;
    padding-top: 80px;
}
.indicate-expected-dates{
    margin: 0 auto;
    width: 353px;
}
.form-and-map{
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    padding-bottom: 199px;
}
.map{
    width: 810px;
    height: 450px;
    margin-top: 86px;
    
}
.form-down{
    padding-left: 60px;
    margin-right: 320px;
    margin-right: 0;
    padding-top:50px;
    margin-left: 30px;
}
.form-down-label {
    min-width: 43%;
}
.form-down-input::placeholder {
    color: #B5AEA4;
}

.form-down-input[name="checkout"], 
.form-down-input[name="checkin"] {
    background-image: url('../img/date.svg');
    background-repeat: no-repeat;
    background-position: center right;
}

.form-down-input::-webkit-outer-spin-button,
.form-down-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-down-input[type="number"] {
  -moz-appearance: textfield;
}
.form-down-input[name="adults"], 
.form-down-input[name="kids"] {
    background-image: url('../img/person.svg');
    background-repeat: no-repeat;
    background-position: center right;
}


.form-top{
    padding-left: 60px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
.form-down-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B5AEA4;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #B5AEA4;
    appearance: none;
    list-style: none;
}

.flex-container {
    display: flex;
    margin-bottom: 80px;
    
    justify-content: space-between;
}
.book-in-button  {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #B5AEA4;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 175px;
    position: relative;
}

.book-in-button::after {
    position: absolute;
    content: '';
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #B5885D;
    right: -65px;
    top: -12px;
}
.circus-button{
    padding: 0;
    margin: 0;
    content: '';
    border: none;
    background-color: transparent;
    color: #B5AEA4;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 100px;
    position: relative; 
}
.circus-button::after{
    position: absolute;
    content: '';
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #B5885D;
    right: 65px;
    top: 12px;
}

.circus-button-left{
    padding: 0;
    margin: 0;
    content: '';
    border: none;
    background-color: transparent;
    color: #B5AEA4;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 100px;
    position: relative; 
}
.circus-button-left::after{
    position: absolute;
    content: '';
    background-image: url('../img/arrow-left.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #B5885D;
    right: 65px;
    top: 12px;
}
.slidr{

}

.link-autor::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color:#B5AEA4;
    margin: -37px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    left:-1px;
    right:10px;
}


.adults-child-form{
    display: flex;
    justify-content: space-between;

}
.footer-link-top{
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}  
.index-link{
    height: 130px;
    text-decoration: none;
}
.social-link{
    height: 100px;
}

.line{
    border: none; /* Убираем границу */
    background: var(--grey, #B5AEA4);
    height: 1px;
    flex-shrink: 0;
    
}  

.html-academy{
    padding-top: 25px;
    padding-right: 80px;
}

.website-by{
    padding-left: 100px;
    padding-bottom: 10px;
    color: var(--white, #FFF);
}
.decoration-link{
    text-decoration: none;
}
.result-and-hotel-filter{
    display:flex;
}
.results{
    padding-left: 90px;
    padding-top: 51;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    }
.result-clear{
    background-color: transparent;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    color: #B5AEA4;
    text-transform: uppercase;
    width: 200px;
    position: relative;
    text-decoration-line: underline;
}
.infrastructure{
    padding-top: 51px;
    padding-bottom: 48px;
    padding-right: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.type-of-housing{
    padding-right: 98px;
    padding-bottom: 48px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.price{
    padding-top: 51px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.article{
    display: flex;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1480px;
    
}
.hotel-and-point{
    display: block;
    padding-left: 25px;
    width: 100%;
    margin-right: 100px;
    
}
.results-number{
    color: var(--beige, #B5885D);
    /* text/main text */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.hotel-name{
    display: flex;
    height: 100%;
}
.name-form{
    color: var(--grey, #B5AEA4);
    /* text/text 2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    left: 20px;
    padding-bottom: 25px;
}

.info-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.type {
    width: 100%;
}
.name {
    width: 50%;
    margin: 0;
    font-size: 28px;
}


.image{
    width: 689px;
    height: 380px;
}

.article-hotel-price{
   
    padding: 0;
    text-align: right;
} 
/*не работает топ?*/
.more-details{
    color: var(--grey, #B5AEA4);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;

}
.detalis-button{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visitsedona{
    display: flex;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}
.bottom-links{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 689px;
    
    height: 380px;
}

