@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf"), url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("../fonts/fonts/Montserrat-Medium.ttf"), url("../fonts/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Cormorant";
    font-weight: 500;
    src: url("../fonts/CormorantGaramond-Medium.ttf"), url("../fonts/CormorantGaramond-Medium.ttf");
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #FCF8F5;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label,
button {
    cursor: pointer;
}

h1,h2,h3{
    font-family: "Cormorant", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.nav-list{
    display: flex;
    gap: 30px;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
.hero-section{
    background-color: rgba(71, 52, 35, 0.5);
    background-image: linear-gradient(0deg, rgba(71, 52, 35, 0.5),
                     rgba(71, 52, 35, 0.5)), url('../img/maine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    display:flex;
    align-items: end;
    padding-top: 694px;
    padding-bottom: 80px;
}

.hero-section-apartment{
    background-color: rgba(71, 52, 35, 0.5);
    background-image: linear-gradient(0deg, rgba(71, 52, 35, 0.5),
                     rgba(71, 52, 35, 0.5)), url('../img/maine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
    display:flex;
    align-items: flex-end;
    padding-top: 318px;
    padding-bottom: 80px;
}

.maine-title{
    color:#fff;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;
    width: 1398px;
    margin: 0 auto;
    /* padding-left: 100px; */
    /* padding-right: 102px; */
}
.article-section{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 643px;
    padding-top: 200px; 
    /* padding-left: 100px; */
}
.description{
    display:flex;
    flex-direction: column;
    /* height: 643px; */
    width: 471px;
}
.why_visit {
    color:#B5AEA4;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 81px;    
}
.why_visit.current::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#B5AEA4;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
}
.article-title{
    color:#373737;
    margin: 0;
    margin-bottom: auto;
}
.bottom-text{
    margin: 0;
}

.featuires-list {
    max-width: 1400px;
    margin: 0 auto;
}





.article-section-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 643px;
    padding-top: 200px;
    text-align: left;
}
.description-2{
    display:flex;
    flex-direction: column;
    height: 643px;
    
}
.why_visit-2{
    color:#B5AEA4;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.why_visit-2.current::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#B5AEA4;
}
.article-title-2{
    
    padding-right: 180px;
    padding-top: 80px;
    margin-bottom: auto;
    color:#373737;
    text-align: left;
    font-family: Cormorant;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bottom-text-2{
    text-align: left;
    width: 300px;
}
.footer{
    background-color: #B5885D;
    display:flex;
    justify-content: space-between;
    height: 280px;
}
.footer-link{
    display:flex;
    justify-content: space-between;
    padding-bottom: 68px;
    padding-right: 100px;
    padding-top: 50px;
    padding-left: 776px;
   
}
.table-name{
    display:flex;
    align-content: space-around;
    flex-wrap: wrap;
    padding-top: 301px;
}
.result-and-hotel-filter{
    display:flex;
}
.results{
    padding-left: 100px;
    padding-right: 590px;
    padding-top: 51;
    }
.result-clear{
    padding-top: 97px;
    padding-bottom: 81px;
}
.infrastructure{
    padding-top: 51px;
    padding-bottom: 48px;
    padding-right: 73px;
    padding-left: 524px;
}
.type-of-housing{
    padding-right: 98px;
    padding-bottom: 48px;
    padding-top: 50px;
}
.price{
    padding-top: 51px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.article{
    display: flex;
    padding-left: 101px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hotel-and-point{
    display: block;
    padding-left: 20px;
}
.hotel-name{
    display: flex;
}
.article-hotel-price{
    padding-left: 249px;
}
/*не работает топ?*/
.more-details{
    padding-right: 298px;
    margin-top: 5000px;
}
.html-academy{
    padding-left: 808px;
    padding-bottom: 25px;
}
.footer-link-right{
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}    